<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
		<title>Connexion - AdopteUnDev</title>
	</head>

	<body>

		{% for message in app.flashes('error') %}
			<div class="alert alert-danger">{{ message }}</div>
		{% endfor %}

		{% for message in app.flashes('success') %}
			<div class="alert alert-success">{{ message }}</div>
		{% endfor %}

		<div class="container-fluid vh-100">
			<div
				class="row h-100">
				<!-- Formulaire de connexion -->
				<div class="col-md-6 d-flex justify-content-center align-items-center">
					<div class="w-75">
						<h2 class="mb-4">Connexion</h2>
						<form method="post" action="{{ path('app_developer_login') }}">
							<div class="form-group">
								<label for="email">Adresse e-mail</label>
								<input type="email" id="email" name="email" class="form-control" placeholder="Votre e-mail" required>
							</div>
							<div class="form-group">
								<label for="password">Mot de passe</label>
								<input type="password" id="password" name="password" class="form-control" placeholder="Votre mot de passe" required>
							</div>
							<button type="submit" class="btn btn-primary btn-block">Se connecter</button>
						</form>
						<p class="text-center mt-3">
							Pas encore de compte ?
							<a href="{{ path('app_inscription') }}">S'inscrire</a>
						</p>
					</div>
				</div>

				<!-- Image de connexion -->
				<div class="col-md-6 d-flex justify-content-center align-items-center">
					<img style="border-radius: 2rem; height: 90vh;" src="https://img.freepik.com/vecteurs-libre/illustration-concept-authentification-deux-facteurs_114360-5598.jpg?t=st=1736598320~exp=1736601920~hmac=968ef9d829ac0d6011e942a979ef9977d157ee88a2c0e2cfab8d3f6cc1be11da&w=1380" alt="Image de connexion" class="img-fluid w-100">
				</div>
			</div>
		</div>
	</body>

</html>
