{% extends 'base.html.twig' %}

{% block title %}Liste des Utilisateurs
{% endblock %}

{% block body %}
	<h1>Liste des Utilisateurs</h1>

	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Prénom</th>
				<th>Nom</th>
				<th>Email</th>
				<th>Lieu</th>
				<th>Bio</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<p>{{ user.firstName }}
					{{ user.lastName }}</p>
				{% if user.profilePicture %}
					<img src="/uploads/{{ user.profilePicture }}" alt="Profile Picture" width="100"/>
				{% endif %}
			{% endfor %}

		</tbody>
	</table>
{% endblock %}
