{% extends 'navbarDev.html.twig' %}
{% block title %}Match
{% endblock %}

{% block body %}
		<div class="site-section bg-light d-flex min-vh-100">
			<div class="container">
				<div class="row">
					<h2 class="font-weight-bold text-center text-primary">Vos notifications</h2>
				</div>

				<div class="container">
					<ul class="list-group">
						{% for notification in notifications %}
							<li class="list-group-item d-flex justify-content-between align-items-center">
								<div>
									<strong>{{ notification.message }}</strong><br>
								</div>
								<a href="{{ path('app_detail', {'id': notification.job.id}) }}" class="btn btn-success btn-sm">
									Voir l'offre
								</a>
							</li>
						{% else %}
							<li class="list-group-item text-center">
								Aucune notification pour le moment.
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>

{% endblock %}
